<%- include adminheader %>

<div style="padding:80px">
</div>

<div>
    Yes. you are admin
</div>

<div>
    Sample Bootstrap code
</div>


<button type="button" class="btn btn-default">Left</button>

<span class="label label-primary">Primary</span>