<%- include adminheader %>


<div style="padding:30px">
</div>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Issue Movie </h1>
        
        Welcome <%=user.firstName%>
    </div>
</div>


