<%- include adminheader %>
<div style="padding:30px">
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Search Movies</h1>
    </div>
<label> Search Attribute </label>
<form class="form-inline" role="form" method="post" action="/searchMovie">
  <select class="form-control" id="searchparam" name="searchparam">
                    <option value="id">id</option>
                    <option value="MovieName">MovieName</option>
                    <option value="MovieBanner">MovieBanner</option>
                    <option value="ReleaseDate">ReleaseDate</option>
                    <option value="RentAmt">RentAmt</option>
                    <option value="AvlCopies">AvlCopies</option>
                    <option value="category">category</option>
  </select> &nbsp&nbsp&nbsp&nbsp
  <div class="form-group">
    <label class="sr-only">Search String</label>
    <input type="text" class="form-control" placeholder="Enter Search String" id="str" name="str">
  </div>
  &nbsp&nbsp&nbsp&nbsp
  <button type="submit" class="btn btn-primary">Search<i class="icon-search"></i></button>
</form>
<br>

    <% movies.forEach( function ( movies ){ %>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/viewMoviePage/<%= movies._id %>"><h3 class="panel-title"> <%= movies.MovieName %></h3> </a>
            <div>Id: <%= movies.id %></div>
        </div>        
	</div>
<% }); %>